## Entorno virtual
.venv/

# Archivos de Python compilados
__pycache__/
*.pyc

# Archivos de configuración de editores
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Datos de entrada: no se suben al repositorio los archivos usados para alimentar el script (como bend.xlsm, ds.xlsx, pe.csv) porque son privados/sensibles.
data/

# Salidas del proceso ETL (archivos generados: merged.csv y precios.csv): los ignoramos para mantener limpio el repo, evitando subir archivos que cambian todo el rato.
output/

# Archivos de checkpoints de Jupyter
*.ipynb_checkpoints

# Logs o temporales
*.log
*.tmp
